{#
<insertfile>_inc/summary.txt</insertfile>
#}

{% set links = {
  '<i class="fa fa-opencart" aria-hidden="true"></i>' : '<insertvar>OCMLINK</insertvar>',
  '<i class="fa fa-github" aria-hidden="true"></i>' : '<insertvar>GITLINK</insertvar>',
  'EULA' : '<insertvar>LICLINK</insertvar>',
  '<insertvar>EMAIL</insertvar>' : 'mailto:<insertvar>EMAIL</insertvar>?Subject=[OpenCart] <insertvar>MODNAME</insertvar>',
} %}

{% set cyear = '<insertvar>MODYEAR</insertvar>' != 'now'|date('Y') ? '-' ~ 'now'|date('Y') : '' %}
{% set copyright = '© <insertvar>AUTHOR</insertvar>, <insertvar>MODYEAR</insertvar>' ~ cyear %}
{% set version = 'Version <insertvar>MODVERS</insertvar>' %}

{{ header }}
{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a class="btn btn-default" data-toggle="tooltip" href="{{ cancel }}" title="{{ button_cancel }}">
          <i class="fa fa-reply"></i>
        </a>
      </div>
      <h1>{{ heading_title }}</h1>
      <br />
      <ul class="breadcrumb">

        {%- for breadcrumb in breadcrumbs %}

        <li>
          <a href="{{ breadcrumb.href }}">
            {{ breadcrumb.text }}
          </a>
        </li>

        {%- endfor %}

      </ul>
    </div>
  </div>

  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i>{{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-12 text-center">{{ text_about }}</div>
          <div class="text-center">

            {%- for name, url in links %}

              <a href="{{ url }}" target="_blank">{{ name }}</a>{% if not loop.last %} | {% endif %}

            {%- endfor %}

          </div>
          <hr />
          <div class="text-center">{{ copyright }}</div>
          <div class="text-center">{{ version }}</div>
          <div class="text-center">{{ text_made }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}
